 <footer>
      <div class="card bg-dark text-black">
        <img src="/imgs/imagenologia.png" class="card-img" style="height: 15vw;" alt="...">
        <div class="card-img-overlay">
          <h3 class="card-title">Imagenologia</h3>
        </div>
      </div>
    </footer>