<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1 id="message"></h1>
    <form method="POST" id="form" name="form" action="/" enctype="multipart/form-data">
    <div class="form-group row w-50 m-auto">
    <div class="form-group col-12 col-sm-6">
        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" onBlur="onDateBlur(this);" class="form-control m-auto" />
        <script>
            let isValidDate = Date.parse('03/17/21');
            function onDateBlur(obj) {
              if (isValidDate(obj.value))
                alert("This is not a valid date format.");
              else
                alert("This is a valid date format.");
            }
          </script>
        <button type="submit" class="btn btn-info mb-3">Registrarme</button>
      </div>
      </div>
    </form>
  </body>
</html>