<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Imagenologia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">Iniciar Sesion</a>
          <a class="dropdown-item" href="/paciente-create">Registrarse</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li>
      <a href="/login" class="btn btn-primary m-2">Iniciar Sesión</a>
      </li>
       <li>
      <a href="/paciente-create" class="btn btn-success m-2 ">Registrarme</a>
       </li>
      
    </ul>
  </div>
</nav>